<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>DTPG</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-DTPG.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SBUS</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-SBUS.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Apple NVMe Controller</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-ANS1.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fenvi T-919</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-ARPT.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>plugin-type to 1</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PLUG.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Embedded Controller</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel Ethernet</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-ETH0.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Radeon RX 580</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-RX580.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel SATA Controller</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-SAT0.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel USB Controller</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-UIAC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel USB Controller 2</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-USBX.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel USB Controller 3</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-XHC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Realtek ALC892</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-HDEF.aml</string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>change _DSM to XDSM</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X0RTTQ==</data>
				<key>Replace</key>
				<data>WERTTQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change _OSI to XOSI</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X09TSQ==</data>
				<key>Replace</key>
				<data>WE9TSQ==</data>
			</dict>
		</array>
	</dict>
	<key>Booter</key>
	<dict>
		<key>Quirks</key>
		<dict>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>EnableWriteUnprotector</key>
			<true/>
			<key>SetupVirtualMap</key>
			<true/>
		</dict>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AQASGQ==</data>
			</dict>
		</dict>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>IntelMausi.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IntelMausi</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>SMCProcessor.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCProcessor</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>SMCSuperIO.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCSuperIO</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>USBInjectAll.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/USBInjectAll</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AGPMEnabler.kext</string>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AirportBrcmFixup.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportBrcmFixup</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
	</dict>
	<key>Misc</key>
	<dict>
		<key>BlessOverride</key>
		<array>
			<string>\EFI\Microsoft\Boot\bootmgfw.efi</string>
		</array>
		<key>Boot</key>
		<dict>
			<key>ConsoleBehaviourOs</key>
			<string>ForceGraphics</string>
			<key>ConsoleBehaviourUi</key>
			<string>ForceText</string>
			<key>Resolution</key>
			<string>Max</string>
			<key>UsePicker</key>
			<true/>
		</dict>
		<key>Security</key>
		<dict>
			<key>AuthRestart</key>
			<true/>
			<key>ScanPolicy</key>
			<integer>525571</integer>
			<key>RequireSignature</key>
			<false/>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>UIScale</key>
				<data>AQ==</data>
			</dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string></string>
				<key>csr-active-config</key>
				<data>AAAAAA==</data>
				<key>prev-lang:kbd</key>
				<data>ZW5fVVM6MA==</data>
			</dict>
		</dict>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>Generic</key>
		<dict>
			<key>SpoofVendor</key>
			<true/>
			<key>SystemProductName</key>
			<string>iMac17,1</string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Create</string>
		<key>WriteFlash</key>
		<true/>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>Drivers</key>
		<array>
			<string>FwRuntimeServices.efi</string>
			<string>HFSPlus.efi</string>
			<string>ApfsDriverLoader.efi</string>
		</array>
		<key>Input</key>
		<dict>
			<key>KeyForgetThreshold</key>
			<integer>5</integer>
			<key>KeyMergeThreshold</key>
			<integer>2</integer>
			<key>KeySupport</key>
			<true/>
			<key>KeySupportMode</key>
			<string>Auto</string>
			<key>KeySwap</key>
			<true/>
		</dict>
		<key>Protocols</key>
		<dict>
			<key>AppleSmcIo</key>
			<true/>
			<key>ConsoleControl</key>
			<true/>
			<key>FirmwareVolume</key>
			<true/>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>IgnoreTextInGraphics</key>
			<true/>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>ReconnectOnResChange</key>
			<true/>
			<key>RequestBootVarRouting</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
